@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Poppins', sans-serif;
}

.background {
    background: linear-gradient(90deg, #4F52E5 10.31%, #65BFC4 136.71%);
}

.tw-text-left {
  text-align: left;
}
.tw-text-center {
  text-align: center;
}
.tw-text-right {
  text-align: right;
}

.icon {
  border-radius: 39px;
background: var(--gradient-blue-to-green, linear-gradient(180deg, #5056E5 0%, #5E99D0 100%));
}